

<!-- <div  class="container">
 

   <h1 class="main"><b>Social media platforms</b></h1>

<button>
<a href="https://www.instagram.com/accounts/login/ ">Instagram Login </a>
</button>
<hr><br>
<a href="https://accounts.snapchat.com/accounts/login">Click me to open snapchat</a>

</div> -->
<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <h2 style="text-align:center">Login with Social Media or Manually</h2>
      <div class="vl">
        <!-- <span class="vl-innertext">or</span> -->
      </div>

      <div class="col" style="text-align:center">
        <a href="https://www.instagram.com/accounts/login/" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login to Instagram
        </a>
        <a href="https://accounts.snapchat.com/accounts/login" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login to Snapchat
        </a>
        <a href="#" class="google btn">
          <i class="fa fa-google fa-fw"></i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
      </div>

    </div>
  </form>
</div>

<!-- <div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div> -->

<!-- <ol type="i">
    <li>Ford</li>
     <li>Mahindra</li>   
        <li>Xuv</li>
       <li>Tuv</li> 
   
</ol> -->
<router-outlet></router-outlet>
